<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2"></div>
    <div class="col-md-auto sh-title">
        <title-component></title-component>
    </div>
    <div class="col col-lg-2"></div>
  </div>

  <!-- Information Home -->
  <div class="row">
    <div class="col col-lg-2"></div>
    <div class="col-md-auto">
      <info-home-component [currentTemperature]="currentTemperature" [currentHumidity]="currentHumidity"
        [isNightMode]="false">
      </info-home-component>
    </div>
    <div class="col col-lg-2"></div>
  </div>

  <!-- Content -->
  <div class="row justify-content-md-center">
    <div class="col-sm"></div>
    <div class="col-sm-7">
      <!-- Chart -->
      <line-chart-component [lineChartData]="chartData" [lineChartLabels]="chartLabels">
      </line-chart-component>
    </div>
    <div class="col-sm"></div>
  </div>

  <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
</div>
