<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col col-2"></div>
    <div class="col-md-auto sh-title">
      <title-component></title-component>
    </div>
    <div class="col col-lg-2"></div>
  </div>
  <div class="sh-date justify-content-md-cente">
    <div class="row">
      <div class="col col-12">
        {{currentDate}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{currentTime}}
      </div>
    </div>
  </div>
  <!-- Information Home -->
  <div class="row">
    <div class="col col-2"></div>
    <div class="col-md-auto">
      <info-home-component
      [temperatureValue] = 'temperature'
      [humidityValue] = 'humidity'
      [lightValue] = 'light'
      [gasValue] = 'gas'
      [flashLightValue] = 'flashLight'>
      </info-home-component>
    </div>
    <div class="col col-lg-2"></div>
  </div>
</div>