<!--
==============================================================
    - Author: NoName
    - Version: 1.0
    - Since: 3/29/2019
    - Copy right @SmartHome
==============================================================
-->

{%  extends 'layout.html' %}

{% block title %}
    Smart Home
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center ct-page-header">
                Smart Home System
            </h1>
        </div>
    </div>

    <!-- /.row -->
    <div class="row text-center">
        <!-- col 1 -->
        <div class="col-lg-4">
            <div class="device-name ">
            TEMPERATURE
            </div>
            <div class="show-data">
                <div style="margin-top: 50px" class="device-value">
                    {% if data['value'] %}
                        {{ data['value'] }}
                    {% endif %}
                </div>
            </div>

            <div class="device-info">
            <div>Status:
                {% if not data['temperature.is_enable'] %}
                    {% if data['temperature.is_enable'] == True %}
                        <span class="device-enabled"> Enabled. </span>
                    {% else %}
                        <span class="device-disabled"> Disabled. </span>
                    {% endif %}
                {% endif %}
            </div>

            <div>Connect:
                {% if data['temperature.is_connect']%}
                        <span class="device-enabled"> Connecting. </span>
                {% else %}
                        <span class="device-disabled"> No connection. </span>
                {% endif %}
            </div>

            <div>Last Activity:
                {% if data['temperature.last_activity'] %}
                    {{ data['temperature.last_activity'] }}
                {% else %}
                     ---
                {% endif %}
            </div>
            </div>
        </div>

        <!-- col 2 -->
        <div class="col-lg-4">
            <div class="device-name ">
            LIGHT
            </div>
            <div class="show-data">
                <div style="margin-top: 50px" class="device-value">
                    {% if data['value'] %}
                        {{ data['value'] }}
                    {% endif %}
                </div>
            </div>

            <div class="device-info">
            <div>Status:
                    {% if data['light.is_enable']%}
                        <span class="device-enabled"> Enable. </span>
                    {% else %}
                        <span class="device-disabled"> Disable. </span>
                    {% endif %}
            </div>

            <div>Connect:
                    {% if data['light.is_connect'] %}
                        <span class="device-enabled"> Connecting. </span>
                    {% else %}
                        <span class="device-disabled"> No connection. </span>
                    {% endif %}
            </div>

            <div>Last Activity:
                {% if data['light.last_activity'] %}
                    {{ data['light.last_activity'] }}
                {% else %}
                     ---
                {% endif %}
            </div>
            </div>
        </div>

        <!-- col 3 -->
        <div class="col-lg-4">
            <div class="device-name ">
            GAS
            </div>
             <div class="show-data">
                <div style="margin-top: 50px" class="device-value">
                    {% if data['value'] %}
                        {{ data['value'] }}
                    {% endif %}
                </div>
            </div>

            <div class="device-info">
            <div>Status:
                    {% if data['gas.is_enable'] %}
                        <span class="device-enabled"> Enable. </span>
                    {% else %}
                        <span class="device-disabled"> Disable. </span>
                    {% endif %}
            </div>

            <div>Connect:
                    {% if data['gas.is_connect']%}
                        <span class="device-enabled"> Connecting. </span>
                    {% else %}
                        <span class="device-disabled"> No connection. </span>
                    {% endif %}
            </div>

            <div>Last Activity:
                {% if data['gas.last_activity'] %}
                    {{ data['gas.last_activity']}}
                {% else %}
                     ---
                {% endif %}
            </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}