*.crt
*.key
documents/
tools/
web/.idea/
*.pyc
web/logs/
web/migrations/
web/venv/
web/sh-service/venv/
web/sh-service/.idea/
aws/
deploy/esp8266/test_leb/test_leb.ino
web/sh-service/logs/
web/sh-service/migrations/
*.mp4
