<div class="containner">
  <!-- Content -->
  <div class="row">
    <div class="row ">
      <div class="col col-xl-6 sh-time ">
        <!-- Current Time-->
        <div class="row time justify-content-md-center">
          {{currentTime}}
        </div>
      </div>

      <div class="col col-xl-6 sh-light">
        <div class="row">
          <!-- Button controll ligth-->
          <div>
            <button mat-raised-button class="btn-light" (click)="controllLight()">
              <i class="material-icons">
                power_settings_new
              </i>
            </button>
          </div>

          <!-- Light image-->
          <div>
            <img *ngIf="!isLight" class="light-image" src="./../../../assets/images/light_off.gif" alt="The bulb"
              id="lightImage" />
            <img *ngIf="isLight" class="light-image" src="./../../../assets/images/light_on.gif" alt="The bulb"
              id="lightImage" />
          </div>

          <!-- Gas image-->
          <div *ngIf="isGas">
            <img class="gas-image" src="./../../../assets/images/gas-leak.png" alt="The bulb" id="lightImage" />
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <!-- Chart Temperature -->
      <div class="col col-6">
        <line-chart-component [lineChartData]="chartData" [lineChartLabels]="chartLabels">
        </line-chart-component>
      </div>

      <!-- Chart Humidity-->
      <div class="col col-6">
        <line-chart-component [lineChartData]="chartData" [lineChartLabels]="chartLabels">
        </line-chart-component>
      </div>
    </div>
  </div>
</div>