<!--
==============================================================
    - Author: NoName
    - Version: 1.0
    - Since: 3/29/2019
    - Copy right @SmartHome
==============================================================
-->

<div class="navbar-header">
   <ul class="nav navbar-nav">
{#      <li>#}
{#         <a href="/"><i class="fa fa-fw fa-home"></i> HOME</a>#}
{#      </li>#}
{#      <li>#}
{#         <a href="/category1"><i class="fa fa-fw fa-tasks"></i> TEMPERATURE</a>#}
{#      </li>#}
{#      <li>#}
{#         <a href="/category2"><i class="fa fa-fw fa-table"></i> LIGHT</a>#}
{#      </li>#}
{#      <li>#}
{#         <a href="/category1"><i class="fa fa-fw fa-bar-chart-o"></i> GAS</a>#}
{#      </li>#}
{#      <li>#}
{#         <a href="/category1"><i class="fa fa-fw fa-code"></i> MONITOR</a>#}
{#      </li>#}
{#      <li>#}
{#         <a href="/category1t"><i class="fa fa-fw fa-book"></i> ABOUT</a>#}
{#      </li>#}
{#      <li>#}
{#         <a href="/category1"><i class="fa fa-fw fa-file-code-o"></i> API</a>#}
{#      </li>#}
   </ul>
</div>

