<!--
==============================================================
    - Author: NoName
    - Version: 1.0
    - Since: 3/29/2019
    - Copy right @SmartHome
==============================================================
-->

<!-- Bootstrap Core CSS -->
    <link rel="stylesheet"
          type="text/css"
          href='{{ url_for("static", filename="css/bootstrap.min.css") }}'>
    <!-- Custom CSS -->
    <link rel="stylesheet"
          type="text/css"
          href='{{ url_for("static", filename="css/style.css") }}'>
    <!-- Morris Charts CSS -->
    <link rel="stylesheet"
          type="text/css"
          href='{{ url_for("static", filename="css/plugins/morris.css") }}'>
    <!-- Custom Fonts -->
    <link rel="stylesheet"
          type="text/css"
          href='{{ url_for("static", filename="font-awesome/css/font-awesome.min.css") }}'>
    <!-- table-->
    <link rel="stylesheet"
          type="text/css"
          href='{{ url_for("static", filename="css/table.css") }}'>
    <!-- category-->
    <link rel="stylesheet"
          type="text/css"
          href='{{ url_for("static", filename="css/category.css") }}'>
    <!-- jQuery -->
    <script src='{{ url_for("static", filename="js/jquery.js") }}'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='{{ url_for("static", filename="js/bootstrap.js") }}'></script>

    <!-- Morris Charts JavaScript -->
    <script src='{{ url_for("static", filename="js/plugins/morris/raphael.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/plugins/morris/morris.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/plugins/morris/morris-data.js") }}'></script>