<div class="row justify-content-md-center">
  <div class="col col-lg-2"></div>
  <div class="col-md-auto sh-title">
    <title-component></title-component>
  </div>
  <div class="col col-lg-2"></div>
</div>
<div class="row justify-content-md-center">
  <div class="col col-lg-2"></div>
  <div class="col-md-auto sh-title">
    <div class="row justify-content-md-center">Khóa luận tốt nghiệp</div> 
    <div class="row justify-content-md-center">Thực hiện: Vương Quốc Việt - Phan Bảo Trinh</div>
    <div class="row justify-content-md-center">Giảng viên hướng dẫn: Ths. Nguyễn Thành Thái</div>
  </div>
  <div class="col col-lg-2"></div>
</div>

