<!--
==============================================================
    - Author: NoName
    - Version: 1.0
    - Since: 3/29/2019
    - Copy right @SmartHome
==============================================================
-->

<div class="footer navbar-fixed-bottom">
   <div class="pull-right">
      <b>Version</b>
      <i>1.0.0 </i>
   </div>
   <strong>
   Copyright &#169; by
   Quốc Việt
   <a href="https://facebook.com/quocviet.bmt.7"><i class="fa fa-facebook"></i></a>
   .
   </strong>
   All rights reserved.
</div>

