<div class="info-home">
  <div class="row room-name">
    <div>{{room}}:</div>
  </div>

  <div class="row">
    <sensor-info-component
    [name]="temperatureName" 
    [status]="temperatureValue"
    ></sensor-info-component>

    <sensor-info-component
    [name]="humidityName" 
    [status]="humidityValue"
    ></sensor-info-component>

    <sensor-info-component
    [name]="lightName" 
    [status]="lightValue"
    ></sensor-info-component>

    <sensor-info-component
    [name]="gasName" 
    [status]="gasValue"
    ></sensor-info-component>

    <sensor-info-component
    [name]="flashLightName" 
    [status]="flashLightValue"
    ></sensor-info-component>
  </div>

</div>
