/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  background-color: #FAFAFA;
  font-size: 120%;
}

canvas {
  background: #fff;
}

.row {
  margin-right: 0px;
  margin-top: 10px;
}

.sh-title {
  text-align: center;
}

.sh-title-header {
  color: green;
  font-size: 180%;
  font: 2em sans-serif;
}

.sh-sologan {
  color: greenyellow;
  font: 1em sans-serif;
  font-style: italic;
}
