<div class="containner">
  <!-- Information Device -->
  <div class="row">
    <div class="col"></div>
    <div class="col-6" style="text-align: center">Độ ẩm</div>
    <div class="col"></div>
  </div>

  <!-- Content -->
  <div class="row">
    <!-- <div class="col-sm-1"></div> -->

    <!-- Chart -->
    <div class="col-7">
      <line-chart-component [lineChartData]="chartData" [lineChartLabels]="chartLabels">
      </line-chart-component>
    </div>

    <!-- Info details -->
    <div class="col">
      <info-detail-component [currentValue]="currentHumidity" [averageValue]="averageHumidity" [isTemperature]="false"
        [status]="statusHumidity"></info-detail-component>
    </div>

  </div>
  <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
</div>
